* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #0d0e43;
}
.test-white {
  color: #ffffff;
}
.header {
  align-items: center;
  padding: 40px;
}
ul .active {
  color: var(--primary);
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  align-items: center;
}
:root {
  --primary: #fb2e86;
  --mainfont: "Lato", sans-serif;
}
body {
  font-family: var(--mainfont);
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: calc(100% - 320px);
  margin: auto;
}
@media screen and (max-width: 1400px) {
  .container {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 992x) {
  .container {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: calc(100% - 40px);
  }
}
.btn {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: var(--primary);
  padding: 10px 30px;
  border-radius: 2px;
}
.listicone {
  display: none;
}
@media screen and (max-width: 1200px) {
  .list,
  .header .search {
    display: none;
  }
  .listicone {
    display: block;
  }
}
form {
  border: 2px solid #e7e6ef;
  border-radius: 5px;
  display: flex;
}
.search-input {
  border: none;
  outline: none;
  width: 200px;
}
.search-button {
  border: none;
  outline: none;
  background-color: var(--primary);
  padding: 6px 11px;
}
/*client*/
.clients {
  padding: 50px 0;
}

.clients img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.clients .row {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.clients .logo {
  width: 150px;
  flex-shrink: 0;
}

@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc((100% - 30px) / 3);
  }
}
/*استاذ الخصائص يلي استعملتهم تعلمتهم من شات لانه طريقتك في 
المحاضرة ما زبطت عندي ضل خلل والسكرول ما اشتغل
/* end client*/

.footer form {
  border: 2px solid #e7e6ef;
  border-radius: 5px;
  /* width: 284px;*/
}
.footer {
  background-color: #eeeffb;
  padding: 50px 0;
}
.d-flex {
  display: flex;
}
.flex-direction {
  flex-direction: column;
}
.gap-3 {
  gap: 15px;
}
.footer a,
.address-info {
  color: #8a8fb9;
}
.footer .left-side {
  gap: 35px;
  align-items: flex-start;
  width: calc((100% - 30px) / 2);
}
.footer .right-side {
  font-size: small;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: calc((100% - 30px) / 2);
}
.footer .right-side .row {
  gap: 35px;
}
.footer nav {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.footer-item {
  gap: 45px;
  width: calc((100% - 70px) / 3);
}
@media screen and (max-width: 992px) {
  .footer .right-side,
  .footer .right-side {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .footer .right-side {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-item {
    width: 100%;
  }
}
