*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #0d0e43;
}
.header {
  align-items: center;
  padding: 40px;
}
ul .active {
  color: var(--primary);
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 35px; 
  align-items: center;
}
:root {
  --primary: #fb2e86;
  --mainfont: "Lato", sans-serif;
}
body {
  font-family: var(--mainfont);
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} 
.container {
  width: calc(100% - 230px);
  margin: auto;
}
.btn {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: var(--primary);
  padding: 16px 40px;
  border-radius: 2px;
}
.listicone {
  display: none;
}
@media screen and (max-width: 1200px) {
  .list,
  .search {
    display: none;
  }
  .listicone {
    display: block;
  }
}
form {
  border: 2px solid #E7E6EF;
  border-radius: 5px;
}
.search-input {
  border: none;
  outline: none;
width: 200px;
}
.search-button {
  border: none;
  outline: none;
  background-color: var(--primary);
  padding: 6px 11px;
}
